<div class="header">
  <div class="div1">
    <img src="assets/img/logo.png" alt="" style="max-height: 40px; margin-top: 10px; margin-left: 10px;">
  </div>
  <div class="div2">
    <form class="d-flex position-relative top-50 start-50 translate-middle" role="search" >
      <input class="form-control me-2" style="margin-left: 50px;" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" style="background-color: #0247FE; color: white; border-color: white;" type="submit">Search</button>
    </form>
  </div>
  <div class="div3"> 
    <div class="account" style="margin-top:10px; margin-left: 50px; color: white;">
      <p>Hola, Identifícate<br><h5><strong>Cuenta y listas</strong></h5></p>
    </div>
    <div class="process" style="margin-top:10px; margin-left: 20px; color: white;">
      <p>Devoluciones<br><h5><strong>y Pedidos</strong></h5></p>
    </div>
    <div class="cart" style="margin-left: 10px; margin-top: 15px; color: white;">
      <h5 style="position: absolute; margin-left: 23px;">5</h5>
      <p><img src="assets/img/cart.png" alt=""><strong>Cesta</strong></p>
    </div>
  </div>
</div>
<div></div>